.code {
  margin: 0 auto;
  visibility: hidden;
  max-width: 100px;
  overflow: hidden;

  .code-tabs-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: var(--spacing-m);

    li {
      position: relative;
      padding: var(--spacing-s);
      margin: 0;

      button {
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
      }

      &.is-active::after {
        position: absolute;
        content: "";
        height: 2px;
        border-radius: 1px;
        background-color: light-dark(var(--dark-color), var(--light-color));
        bottom: 2px;
        left: 0;
        right: 0;
      }
    }
  }

  .code-tabs-panel {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .code-container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    .copy-code-btn {
      position: absolute;
      padding: 2px 8px;
      top: 1em;
      right: 0.5em;
      border: none;
      border-radius: 4px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      background: light-dark(var(--s2-gray-400), var(--s2-gray-800));

      &.is-copied {
        background: light-dark(var(--s2-green-600), var(--s2-green-900));
      }
    }
  }

  &.is-highlighted {
    max-width: 100%;
    visibility: visible;
    overflow: auto;
  }

  pre[class*="language-"] {
    padding: var(--spacing-xl);
    border-radius: 8px;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-size: 16px;
  }
}

/* VS Code theme from prism-themes */
/* stylelint-disable */
.dark-theme {
  code[class*=language-],
  pre[class*=language-] {
    color: #d4d4d4;
    font-size: 13px;
    text-shadow: none;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
  }

  code[class*=language-] ::selection,
  code[class*=language-]::selection,
  pre[class*=language-] ::selection,
  pre[class*=language-]::selection {
    text-shadow: none;
    background: #264f78
  }

  pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    background: #000;
  }

  :not(pre)>code[class*=language-] {
    padding: .1em .3em;
    border-radius: .3em;
    color: #db4c69;
    background: #1e1e1e
  }

  .namespace {
    opacity: .7
  }

  .token.doctype .token.doctype-tag {
    color: #569cd6
  }

  .token.doctype .token.name {
    color: #9cdcfe
  }

  .token.comment,
  .token.prolog {
    color: #6a9955
  }

  .language-html .language-css .token.punctuation,
  .language-html .language-javascript .token.punctuation,
  .token.punctuation {
    color: #d4d4d4
  }

  .token.boolean,
  .token.constant,
  .token.inserted,
  .token.number,
  .token.property,
  .token.symbol,
  .token.tag,
  .token.unit {
    color: #b5cea8
  }

  .token.attr-name,
  .token.builtin,
  .token.char,
  .token.deleted,
  .token.selector,
  .token.string {
    color: #ce9178
  }

  .language-css .token.string.url {
    text-decoration: underline
  }

  .token.entity,
  .token.operator {
    color: #d4d4d4
  }

  .token.operator.arrow {
    color: #569cd6
  }

  .token.atrule {
    color: #ce9178
  }

  .token.atrule .token.rule {
    color: #c586c0
  }

  .token.atrule .token.url {
    color: #9cdcfe
  }

  .token.atrule .token.url .token.function {
    color: #dcdcaa
  }

  .token.atrule .token.url .token.punctuation {
    color: #d4d4d4
  }

  .token.keyword {
    color: #569cd6
  }

  .token.keyword.control-flow,
  .token.keyword.module {
    color: #c586c0
  }

  .token.function,
  .token.function .token.maybe-class-name {
    color: #dcdcaa
  }

  .token.regex {
    color: #d16969
  }

  .token.important {
    color: #569cd6
  }

  .token.italic {
    font-style: italic
  }

  .token.constant {
    color: #9cdcfe
  }

  .token.class-name,
  .token.maybe-class-name {
    color: #4ec9b0
  }

  .token.console {
    color: #9cdcfe
  }

  .token.parameter {
    color: #9cdcfe
  }

  .token.interpolation {
    color: #9cdcfe
  }

  .token.punctuation.interpolation-punctuation {
    color: #569cd6
  }

  .token.boolean {
    color: #569cd6
  }

  .token.exports .token.maybe-class-name,
  .token.imports .token.maybe-class-name,
  .token.property,
  .token.variable {
    color: #9cdcfe
  }

  .token.selector {
    color: #d7ba7d
  }

  .token.escape {
    color: #d7ba7d
  }

  .token.tag {
    color: #569cd6
  }

  .token.tag .token.punctuation {
    color: grey
  }

  .token.cdata {
    color: grey
  }

  .token.attr-name {
    color: #9cdcfe
  }

  .token.attr-value,
  .token.attr-value .token.punctuation {
    color: #ce9178
  }

  .token.attr-value .token.punctuation.attr-equals {
    color: #d4d4d4
  }

  .token.entity {
    color: #569cd6
  }

  .token.namespace {
    color: #4ec9b0
  }

  code[class*=language-javascript],
  code[class*=language-jsx],
  code[class*=language-tsx],
  code[class*=language-typescript],
  pre[class*=language-javascript],
  pre[class*=language-jsx],
  pre[class*=language-tsx],
  pre[class*=language-typescript] {
    color: #9cdcfe
  }

  code[class*=language-css],
  pre[class*=language-css] {
    color: #ce9178
  }

  code[class*=language-html],
  pre[class*=language-html] {
    color: #d4d4d4
  }

  .language-regex .token.anchor {
    color: #dcdcaa
  }

  .language-html .token.punctuation {
    color: grey
  }

  pre[class*=language-]>code[class*=language-] {
    position: relative;
    z-index: 1
  }

  .line-highlight.line-highlight {
    background: #f7ebc6;
    box-shadow: inset 5px 0 0 #f7d87c;
    z-index: 0
  }
}

/**
 * GitHub Light theme for Prism.js
 * Based on GitHub: https://github.com
 * @author Katorly
 */
.light-theme {
  /* General */
  pre[class*="language-"],
  code[class*="language-"] {
    color: #24292f;
    font-size: 13px;
    text-shadow: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
  }

  pre[class*="language-"]::selection,
  code[class*="language-"]::selection {
    text-shadow: none;
    background: #9fc6e9;
  }

  @media print {
    pre[class*="language-"],
    code[class*="language-"] {
      text-shadow: none;
    }
  }

  pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    background: #f6f8fa;
  }

  :not(pre) > code[class*="language-"] {
    padding: .1em .3em;
    border-radius: .3em;
    color: #24292f;
    background: #eff1f3;
  }

  /* Line highlighting */
  pre[data-line] {
    position: relative;
  }

  pre[class*="language-"] > code[class*="language-"] {
    position: relative;
    z-index: 1;
  }

  .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    background: #fff8c5;
    box-shadow: inset 5px 0 0 #eed888;
    z-index: 0;
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
  }

  /* Tokens */
  .namespace {
    opacity: .7;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #6e7781;
  }

  .token.punctuation {
    color: #24292f;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #0550ae;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #0a3069;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #0550ae;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #cf222e;
  }

  .token.function {
    color: #8250df;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #0a3069;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}
