.table {
  --table-radius: 16px;
  font-size: 14px;
  overflow-x: auto;

  table {
    width: 100%;
    border-spacing: 2px;
    border-collapse: separate;

    td {
      padding: 4px;
      color: light-dark(#000, #fff);
      background-color: light-dark(var(--s2-gray-100), var(--s2-gray-800));
      padding: 16px;
      white-space: normal;
      min-width: 150px;
      vertical-align: top;

      pre {
        margin: 0;
        overflow: auto;
      }

      code {
        white-space: normal;
      }
    }

    .table-heading-row {
      td {
        font-weight: 700;
        background-color: light-dark(var(--s2-gray-300), var(--s2-gray-600));
      }
    }

    tr:first-child td:first-child {
      border-radius: var(--table-radius) 0 0 0;
    }

    tr:first-child td:last-child {
      border-radius: 0 var(--table-radius) 0 0;
    }

    tr:last-child td:first-child {
      border-radius: 0 0 0 var(--table-radius);
    }

    tr:last-child td:last-child {
      border-radius: 0 0 var(--table-radius) 0;
    }
  }
}
