.pagenav {
  padding-right: 36px;
  color: light-dark(var(--s2-gray-700), var(--s2-gray-500));

  ul {
    margin: 0;
    padding: 0 0 0 18px;
    list-style: none;
  }

  a {
    color: light-dark(var(--s2-gray-700), var(--s2-gray-500));
  }
}
